<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <% cities.forEach(function(city, index) { %>
    <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
      <div class="carousel-content">
        <img
          src="<%= city.img %>"
          class="carousel-img"
          alt="<%= city.title %>"
        />
        <div class="carousel-text">
          <h2><%= city.title %></h2>
          <p><%= city.description %></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
